<html>
    <head>
        <style>
        table, th, td {
          border: 1px solid black;
        }
        </style>
    </head>
	<body style="background-color:lightgray">
		<h1 style="text-align:center">Sentiment Based Recommendation System</h1>
		<br>
		<form align="center" action="/predict" method="post">
			<input type="text" style="text-align:center" name="username" id="username" placeholder="Enter your UserName" required="required">
			<br><br>
			<button align="center" type="submit" class="btn btn-primary btn-block btn-large">Predict Top 5 Products</button>
            <h3 style="text-align:center">List of Top 5 Recommended Products</h3>
			<table align="center">
              <thead>
                <tr>
                  <td>Name</td>
                  <td>Brand</td>
                  <td>Positive Sentiment %</td>
                </tr>
              </thead>
              <tbody>
                {% for row in row_data %}
                <tr>
                  {% for col, row_ in zip(column_names, row) %}
                  <td>{{row_}}</td>
                  {% endfor %}
                </tr>
                {% endfor %}
              </tbody>
            </table>
		</form>
	</body>
</html>